#Home {
    opacity: 0;
    background: $purple;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
    &[data-loading=true] {
        &[data-loaded=true] {
            transition: opacity 300ms;
            opacity: 1;
            background: $purple;
        }
    }
}


.Home__header {
    margin: 0;
    width: 100%;
    height: 34vh;
}


.Home__content {
    width: 100%;
    height: 66vh;
    background: $white;
}