.MobileNavigationLink {
    list-style-type: none;
    padding: 0;
    background: rgba(0, 0, 0, 0.1);
    min-height: 3em;
    
    &:not(:last-child) {
        margin-bottom: 1em;
    }
}


.MobileNavigationLink__link {
    text-decoration: none;
    color: $white;
    font-size: 1.5em;
    margin-top: 0.5em;
    text-align: left;
    float: left;
    margin-left: 8px;
}


.MobileNavigationLink__sublink_button {
    z-index: 2;
    float: right;
    height: 3em;
    width: calc(3em + 3px);
    margin: 0;
    padding: 0;
    color: $white;
    border: 0;
    background: transparent;
    border-left: 3px solid rgba(0, 0, 0, 0.2);


    &[data-active=false] {
        //background: rgba(0, 0, 0, 0.2);
        translate: 180deg;
    }

    &[data-active=true] {
        background: transparent;
    }
}


.MobileNavigationLink__sublink_list {
    list-style-type: none;
    width: 100%;
    overflow: hidden;

    &[data-active=false] {
        height: 0;
        color: transparent;
        background-color: transparent;
    }

    &[data-active=true] {
        height: auto;
        background-color: rgba(0, 0, 0, 0.2);
        color: $white;
    }
}


.MobileNavigationLink__sublink_link {
    float: left;
    clear: both;
    margin: 8px;

    > .MobileNavigationLink__link {
        margin-top: 0;
    }
}